.newsletter{
    width:65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 100px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    gap: 20px;
}
.newsletter h1{
    color: black;
    font-size:40px ;
    font-weight: 400;
}
.newsletter p{
    color: black;
    font-size:20px ;

}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background: rgb(233, 225, 225);
    width: 680px;
    height: 70px;
    color: black;
   border-radius: 80px;
   border: 1px solid white;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    height: 40px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.newsletter button{
    width: 180px;
    margin-left: 30px;
    margin-right: 10px;
    height: 40px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}